*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif;
    
}
#container{
    overflow: hidden;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.green{
    color: #00d679!important;
}


#banner{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#banner div{
    width: 100%;
   
    background-size: 35%;
    position: absolute;
}
.star{
    height: 100vh;
}
#banner.btns{
    position: absolute;
    top: 115%;
}

#banner .banner-caption span{
    font-weight: 700;
    font-size: 50px;
}

.banner-caption{
    color: white;
    position: absolute;
    top: 38%;
    left: 161px;
    width: 55;
    z-index: 1000000;
    line-height: 2;
}
.banner-caption h1
.banner-captionp{
    color: white;
}
#banner .main-image{
    background-image: url("../images/mainimage.jpg");
    position: absolute;
    right: 0;
    top: -45%;
    height: 145vh;
    width: 100%;
    background-size: 100% 153%;
    z-index: 10000;
}

.star-small{
       background-image: url("../images/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
       animation: small 10s linear infinite;
       z-index: 1000000;
}
#banner .star-small{
    top: -100%;
}

@keyframes small{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(100px,100%);
    }
}

.star-medium{
    background-image: url("../images/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
    animation: medium 10s linear infinite;
    z-index: 1000000;
}

@keyframes medium{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(100px,100%);
    }
}
.star-large{
    background-image: url("../images/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    animation: large 10s linear infinite;
    z-index: 1000000;
}
@keyframes large{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(100px,100%);
    }

}

#intro{
    padding: 40px 0;
}

.button .btn3{
    
   background-color: rgb(32, 224, 134);
   color: white;
   border: none;
   
}

.btn2{
    background-color: black;
    color: white;
    border: 1px solid white;
}

#banner .btns .btn2:hover{
    background-color: white;
    color: black;
}
.row-2{
    background-image: url("../images/g1\ \(1\).jpg");
    height: 40vh;
    width: 80%;
    background-size: 100% 100%;
    margin-left: 10%;
}

#whole-img{
    padding: 12px;
}

#whole-img img{
    border-radius: 10px;

}


#services-block .row div{
    text-align: center;
    position: relative;
}
#services-block .row i{
    font-size: 35px;
    color: rgb(23, 196, 109);
}
#services-block .row div:nth-child(1)
{
    background-size: 100% 100%;
    
}

#services-block .row .col-lg-4{
    border-radius: 20px!important;
}
#services-block .row div:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}

#services-block .row div:hover:after{
    background-color: rgba(0,0,0,0.5);
}


#services-center .row img{
    margin:0%;
    padding: 12%;
}
#services-center div{
    text-align: center;
}
#services-block .row  div:hover {
    color: white;
    border: 1px solid #ecebeb;
    overflow:hidden;

}
#services-block .row  div:hover i {
    color: white;
}
#services-block .row div img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: -10000;

}
#services-block .row div:hover img{
    display: block;
}
#services-center .row div h3{
    color: slategray;
}
#services-center .row div p{
    color: slategray;
}
 #whole-img img{
     transition: 1s;
 }
#whole-img .row div,
#whole-img a{
    overflow:hidden
}
#whole-img a:hover img{
    transform: scale(1.5);
}
#robin{
    width: 100%;
    height: 60vh;
    background-image: url("../images/g5.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
#robin h1{
    margin-top: 8%;
    color: white;
}
#robin h5{
    color: snow;
}
#robin img{
    height: 25vh;
    width: 90%;
    border-radius: 100px;
    
}
#robin div img{
    margin-top: 42%;
}

#project h1{
    color: black;
}
#project h4 {
    color: slategray;
}
#project p{
    color: slategray;
}
#project .col-lg-4 .images{
    border-radius: 10%;
}

#last-row{
width: 100%;
height: 60vh;
padding: 10%;
background-image: url("../images/g6.jpg");
background-size: 100% 100%;
position: relative;
}
#last-row:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: rgba(0,0,0,0.5);
    z-index: 200000 ;
}
#last-row .row a{
   color: #fff;
    text-align: center;
}
#last-row .button{
    margin-left: 40%;
    margin-top: 5%;
}
#last-row h1{
    color: #fff;
    font-size: 2.4em;
    margin: 0.5em 0 1em;
    font-weight: 700;
}

.btn-hamburger{
    display: none;
}
#header .row>div{
    position: relative;
}
